# 가상환경 폴더
venv/

# 파이썬 캐시 파일
__pycache__/
*.pyc

# 환경 설정 파일
.env

# 로그 파일
*.log

# 데이터베이스 파일
*.sqlite3

# IDE 설정 파일
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# 운영체제에서 생성하는 파일
.DS_Store
Thumbs.db

# 기타
*.swp
.ipynb_checkpoints/